@charset "UTF-8";


/* Paleta de cores

    azul:#0092FA
    lilás:#F1B2FB


*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to left, #0092FA, #F1B2FB);
   

    
}
main {
    
    border-radius: 20px;
    height: 100vh;
    width: 70vw;
    background-color: rgba(128, 128, 128, 0.473);
    overflow: hidden;
    position: relative;
    left: 15%;
    
    
    
}
form {
    width: 95%;
    text-align: left;

}
.formulario {
    margin: 20px;
    text-align: center;
}


.caixa {
    display: inline-block;
    background-color: rgb(210, 28, 255);
    padding: 3px;
    margin: 6px;
    border-radius: 10px;
    width: 100%;
    
    
    
}
.enviar{
    background-color: rgb(210, 28, 255);
    width: 100%;
    padding: 6px;
    position: center;
    margin: 9px;
    border-radius: 10px;
}
.enviar:hover{
    background-color: #F1B2FB;
    transition: .5s;
}
input{
    margin-left: 8px;
    width: 97%;
}
label#label{
    display: flex;
    margin: 7px;
    background-color: rgba(0, 0, 0, 0.575);
    color: white; 
    border: 1px solid black; 
    border-radius: 7px; 
}
.esquecisenha{
    background-color:rgb(210, 28, 255) ;
    padding: 6px;
    border-radius: 7px;
    width: 100%;
}
.esquecisenha:hover{
    background-color: #F1B2FB;
    transition: .5s;
}
.botoes{
    position: relative;
}












img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    
}
.imagem {
    background-size: contain;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

