@charset "UTF-8";

/*paleta de cores 

#00A3EA
#0073FF
#FFA3EA
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    background: linear-gradient(to right,#0073FF,#FFA3EA );
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    overflow: hidden;

    background-color: white;
    height: 500px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.582);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}
section#login > div#imagem {
    display: block;
    background: url(../imagens/logomarcanovo.png);
    background-position: center center;
    height: 200px;
    
}
section#login > div#formulario {
    display: block;
    padding: 15px;
}